/*
.bg-custom {
  background-color: #183650;
  max-width: 100vw;
}

a {
  color: rgb(232,151,89);
  &:hover {
    color: gray;
  }
  &:focus {
    color: moccasin;
  }
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
  margin-left: 25px;
}

.navbar-toggler:focus {
  outline: none;
  border: none;
  box-shadow: none;
}
.navbar-toggler-icon{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30'\
  xmlns='http://www.w3.org/2000/svg'%3E%3Cpath  stroke='rgb(232,151,89)' stroke-width='2'\
  stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  &:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30'\
    xmlns='http://www.w3.org/2000/svg'%3E%3Cpath  stroke='gray' stroke-width='2'\
    stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  &:focus {
    background-color: transparent;
    border: none;
  }
  padding: 0.25rem 0.75rem;
  font-size: 1.35rem;
  line-height: 1;
}
*/
