<!--
<nav class="navbar navbar-expand-lg bg-custom">
  <div class="container">
    <div class="d-flex flex-grow-1">
      <span class="w-100 d-lg-none d-block"></span>
      <a class="navbar-brand d-none d-lg-inline-block" href="#"> GESPRO </a>
      <a class="navbar-brand-two mx-auto d-lg-none d-inline-block" href="#">
        <img src="../../../../assets/img/logo.png" alt="logo" class="img-fluid">
      </a>
      <div class="w-100 ms-4 d-flex align-items-center">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#myNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
    <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
      <ul class="navbar-nav ms-auto flex-nowrap">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle drop-color" data-bs-toggle="dropdown" href="#" role="button">Employé</a>
          <ul class="dropdown-menu">
            <li>
              <a [routerLinkActiveOptions]="{exact: true}" class="dropdown-item" routerLink="/user"
                 routerLinkActive="active">Liste</a>
            </li>
            <li>
              <a [routerLinkActiveOptions]="{exact: true}" class="dropdown-item" routerLink="/user/new"
                 routerLinkActive="active">Créer</a>
            </li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button">Adresse</a>
          <ul class="dropdown-menu">
            <li>
              <a [routerLinkActiveOptions]="{exact: true}" class="dropdown-item" routerLink="/address"
                 routerLinkActive="active">Liste d'adresses</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/address/new" routerLinkActive="active">Créer</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button">Entreprise</a>
          <ul class="dropdown-menu">
            <li>
              <a [routerLinkActiveOptions]="{exact: true}" class="dropdown-item" routerLink="/organization"
                 routerLinkActive="active">Liste des entreprises</a>
            </li>
            <li>
              <a [routerLinkActiveOptions]="{exact: true}" class="dropdown-item"
                 routerLink="/organization/new" routerLinkActive="active">Créer</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button">Projet</a>
          <ul class="dropdown-menu">
            <li>
              <a [routerLinkActiveOptions]="{exact: true}" class="dropdown-item" routerLink="/project"
                 routerLinkActive="active">Liste des projets</a>
            </li>
            <li>
              <a [routerLinkActiveOptions]="{exact: true}" class="dropdown-item"
                 routerLink="/project/new" routerLinkActive="active">Créer</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
-->

<!-- Navbar -->
<nav
  id="main-navbar"
  class="navbar navbar-expand-lg navbar-light  bg-custom fixed-top"
>
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#sidebarMenu"
      aria-controls="sidebarMenu"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <!--   height="50" -->
    <!-- Brand -->
    <a class="navbar-brand d-none d-lg-inline-block" href="#"> GESPRO </a>
    <a class="navbar-brand-two mx-auto d-lg-none d-inline-block" href="#">
      <img
        src="/assets/img/logo.png"
        alt="logo"
        class="img-fluid"
      />
    </a>

    <!-- Right links -->
    <ul class="navbar-nav ms-auto d-flex flex-row">
      <!-- Avatar -->
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img  src=""
                class="rounded-circle fa-user fa-lg"
                id="user"
                height="50"
                alt=""
                loading="lazy"
          />user

        </a>
        <ul
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="navbarDropdownMenuLink"
        >
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li><a class="dropdown-item" href="#">Déconnexion</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
