<div class="container">
  <div class="py-4">
    <h2>Entreprises</h2>
    <div class="table-custom">
      <table class="table">
        <thead>
        <tr class="text-center">
          <th>#</th>
          <th>Nom</th>
          <th>Nom Contact</th>
          <th>Contact Email</th>
          <th>Site web</th>
          <th>Téléphone</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody class="">
        <tr *ngFor="let orga of organizations" class="text-center">
          <td>{{orga.id}}</td>
          <td>{{orga.name}}</td>
          <td>{{orga.phoneNumber}}</td>
          <td>{{orga.addrWeb}}</td>
          <td>{{orga.contactName }}</td>
          <td>{{orga.contactEmail}}</td>
          <td>{{orga.address.streetNumber}}<br/>
            {{orga.address.streetLabel}}<br/>
            {{ orga.address.country}}
          </td>
          <td>
            <a routerLink="/"><fa-icon icon="eye" class="eye"></fa-icon></a>
            <a routerLink="edit/{{orga.id}}" class="me-3"><fa-icon icon="file-pen" class="pencil"></fa-icon></a>
            <a (click)="delete(orga.id)"><fa-icon icon="trash-can" class="trash"></fa-icon></a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>


<a routerLink="/" class="btn btn-sm btn-info">retour</a>



