  <section class="py-4 vh-lg-100 mt-5 mt-lg-0 bg-soft d-flex align-items-center">
    <div class="container">
       <div class="row justify-content-center">
          <div class="col-12 d-flex align-items-center justify-content-center">
             <div class="bg-white shadow border-0 rounded p-4 p-lg-5 ">
                <div class="text-center text-md-center mb-4 mt-md-0">
                   <h1 class="mb-0 h3">Connexion</h1>
                </div>
                  <form [formGroup]="authForm" (ngSubmit)="handleLogin()">
                   <div class="form-group mb-4">
                      <label for="username">Nom d'utilisateur</label>
                      <div class="input-group">
                         <span class="input-group-text" id="basic-addon1">
                           <img src="/assets/img/addon1.svg" alt="">
                         </span> 
                         <input type="text" formControlName="username" class="form-control" placeholder="Nom d'utilisateur" id="username" required>
                      </div>
                   </div>
                   <div class="form-group">
                      <div class="form-group mb-4">
                         <label for="password">Mot de passe</label>
                         <div class="input-group">
                            <span class="input-group-text" id="addon2">
                              <img src="/assets/img/addon2.svg" alt="">
                            </span>
                            <input type="password" formControlName="password" placeholder="Password" class="form-control" id="password" required>
                         </div>
                      </div>
                    </div>
                   <div class="d-flex justify-content-around">
                     <div class="">
                        <button type="submit" class="btn btn-secondary">Connexion</button>
                     </div>
                   </div>
                </form>              
             </div>
          </div>
       </div>
    </div>
 </section>              
                