<div class="container">
    <div class="row">
      <div>
        <div class="card-header d-flex justify-content-between">
          <h5 class="card-title">Liste des projets</h5>
          <fa-icon class="" routerLink="/project/new" title="new"></fa-icon>
        </div>
        <div class="card-body">
          <table class="table table-custom">
            <thead>
            <tr>
              <th>#</th>
              <th>Nom</th>
              <th>Description</th>
              <th>Montant</th>
              <th>Date création</th>
              <th>Date de début</th>
              <th>Date de fin</th>
              <th>MAJ le</th>
              <th>Action</th>
              </tr>
            </thead>
            <tbody>
            <tr *ngFor="let proj of projects">
              <td data-label="Code projet">{{proj.code}}</td>
              <td data-label="# :">{{proj.name}}</td>
              <td data-label="Description :">{{proj.description}}</td>
              <td data-label="Montant :">{{proj.amount}}</td>
              <td data-label="Crée le : ">{{proj.createdAt | date}}</td>
              <td data-label="Début le :">{{proj.startedAt | date}}</td>
              <td data-label="Fin le :">{{proj.endedAt | date}}</td>
              <td data-label="MAJ le :">{{proj.updatedAt | date}}</td>
              <td data-label="Action :">
                <a routerLink="/" class="me-2"><fa-icon icon="eye" class="eye"></fa-icon></a>
                <a (click)="update(proj.id)" class="me-2" title="edit"><fa-icon icon="file-pen" class="pencil"></fa-icon></a>  
                <a (click)="delete(proj.id)" class="" title="Delete"> <fa-icon icon="trash-can" class="trash"></fa-icon></a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
                
            
      
            
