<header class="border-bottom pt-6">
  <div class="container-fluid">
    <div class="mb-npx">
      <div class="row align-items-center">
        <div class="col-sm-6 col-12 mb-4 mb-sm-0">
          <!-- Title -->
          <h1 class="h2 mb-0 ls-tight"></h1>
        </div>
        <!-- Actions -->
        <div class="col-sm-6 col-12 text-sm-end">
          <div class="mx-n1">
            <a
              href="#"
              class="btn d-inline-flex btn-sm btn-neutral border-base mx-1"
            >
              <span class="pe-2">
                <i class="bi bi-pencil"></i>
              </span>
              <span>boutton edition</span>
            </a>
            <a href="#" class="btn d-inline-flex btn-sm btn-primary mx-1">
              <span class="pe-2">
                <i class="bi bi-plus"></i>
              </span>
              <span>un button</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main -->
<main class="py-6 bg-surface-secondary">
  <div class="container-fluid">
    <!-- Card stats -->
    <div class="row g-6 mb-6">
      <div class="col-xl-3 col-sm-6 col-12 mb-lg-0 mb-2 mt-3">
        <div class="card shadow border-0">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <span class="h6 font-semibold text-muted text-sm d-block mb-2"
                  >Total Projets</span
                >
                <span class="h3 font-bold mb-0">1.400</span>
              </div>
              <div class="col-auto">
                <div
                  class="icon icon-shape bg-info text-white text-lg rounded-circle"
                >
                  <i class="bi bi-kanban-fill"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12 mb-lg-0 mb-sm-2 mt-3">
        <div class="card shadow border-0">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <span class="h6 font-semibold text-muted text-sm d-block mb-2"
                  >Utilisateurs</span
                >
                <span class="h3 font-bold mb-0">1</span>
              </div>
              <div class="col-auto">
                <div
                  class="icon icon-shape bg-primary text-white text-lg rounded-circle"
                >
                  <i class="bi bi-people"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12 mt-2 mt-lg-3">
        <div class="card shadow border-0">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <span class="h6 font-semibold text-muted text-sm d-block mb-2"
                  >Total Clients</span
                >
                <span class="h3 font-bold mb-0">1</span>
              </div>
              <div class="col-auto">
                <div
                  class="icon icon-shape bg-success text-white text-lg rounded-circle"
                >
                  <i class="bi bi-person"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12 mt-2 mt-lg-3">
        <div class="card shadow border-0">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <span class="h6 font-semibold text-muted text-sm d-block mb-2"
                  >Nombre de clients</span
                >
                <span class="h3 font-bold mb-0">1</span>
              </div>
              <div class="col-auto">
                <div
                  class="icon icon-shape bg-warning text-white text-lg rounded-circle"
                >
                  <i class="bi bi-minecart-loaded"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- fin stats -->
    <app-project-list></app-project-list>
  </div>
</main>
<!--Main layout-->
