<div class="container">
  <div class="row">
    <div>
      <div class="card-header d-flex justify-content-between">
        <h5 class="card-title me-4">Liste des adresses</h5>
        <i class="fa fa-plus-circle fa-2x" routerLink="/admin/addresses/nouveau" title="add"></i>
      </div>
      <div class="card-body">
        <table class="table table-custom">
          <thead>
          <tr>
            <th>Ville</th>
            <th>Rue</th>
            <th>Numéro de rue</th>
            <th>Code postal</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let adr of addresses">
            <td data-label="Ville">{{adr.country}}</td>
            <td data-label="Rue">{{adr.streetLabel}}</td>
            <td data-label="Numéro :">{{adr.streetNumber}}</td>
            <td data-label="Code postal :">{{adr.zipCode}}</td>
            <td data-label="Action :">
              <i (click)="update(adr.id)" class="fa fa-user-edit text-primary mx-3" title="edit">up</i>
              <i (click)="delete(adr.id)" class="fa fa-trash-alt text-danger" title="Delete">del</i>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>







