/* You can add global styles to this file, and also import other style files */

@import "bootstrap/scss/bootstrap";




/* You can add global styles to this file, and also import other style files */
body, html {
  height: 100%;
}
body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #333;
  background-color: rgba(224, 224, 224, 0.829);
}
th, td {
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: rgb(24,54,80);
  color: rgb(232,151,89);
  font-weight: 700;

}

@media (max-width: 700px){
  .table-custom thead {
    display: none;
  
  }
  .table-custom tr{
    display: block;
    margin-bottom: 40px;
  }

  .table-custom td {
    display: block;
    text-align: right;
   &:before {
    float: left;
    content: attr(data-label);
    font-weight: bold;
  }
}
}

.trash,.eye,.pencil{
  font-size: 20px;
  
}

.trash{
  color: rgb(231, 9, 9);
&:hover{
  color: rgb(232,151,89);
  cursor: pointer;
 }
}

.eye{
  color: rgb(232,151,89);
}

.circle{
  font-size: 35px;
}



