/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Jetbrains Mono", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: rgb(230, 230, 230);
  box-sizing: border-box;
  background-color: rgb(39, 37, 37);
}

h2 {
  color: rgb(230, 230, 230);
  text-align: center;
}

